<div class="container">
  <div class="row">
    <div class="column center">
      <h2>ThoughtBox Assessment</h2>
    </div>
    <div>
      <h4>Add a New Link</h4>
      <%= form_for(:link) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :url %>
        <%= f.text_field :url %>
        <%= f.submit "Create Link" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div id="sort-alphabetical" class="btn">Sort A-Z</div>
    <div id="read" class="btn">Marked as Read</div>
    <div id="unread" class="btn">Marked as Unread</div>
  </div>
  <div id="links-list"></div>
</div>